

  <div class="animal-options">
    <div class ="form-group">
      <label>Sort by Age:</label>
      <select (change)="onChange($event.target.value)" >
        <option value="allAnimals" selected="selected"> All Animals </option>
        <option value="youngAnimals"> Young Animals </option>
        <option value="matureAnimals"> Mature Animals </option>
      </select>
    </div>
  </div>
<div class="animals row">
	<div class=" animal col-md-6 col-lg-6 col-xl-4" *ngFor= "let currentAnimal of childAnimalList | age:filterByAge">
		<div class="card">
			<h3 class= "card-title">{{currentAnimal.species}}</h3>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Name: {{currentAnimal.name}}</li>
				<li class="list-group-item">Age: {{currentAnimal.age}}</li>
				<div>
					<li>Diet: {{currentAnimal.diet}}</li>
					<li>Location: {{currentAnimal.location}}</li>
					<li>Caretakers: {{currentAnimal.caretakers}}</li>
					<li>Sex: {{currentAnimal.sex}}</li>
					<li>Likes: {{currentAnimal.likes}}</li>
					<li>Dislikes: {{currentAnimal.dislikes}}</li>
				</div>
			</ul>
			<button class="btn btn-dark" (click)="editAnimalButtonHasBeenClicked(currentAnimal)"> Edit </button>
		</div>
	</div>
</div>
<button class="btn btn-dark" >New Entry</button>
