.jumbotron{
	background-color: #000;
	color: white;
	border: 3px solid white;
	text-align: center;
	width: 100%;
	margin: 0;
}

.container{
	padding: 0;
	min-width: 85vw;
}

animal-list{
	width: 100%;
}

.forms{
	padding: 10px 0px;
}
