.jumbotron{
	background-color: #000;
	color: white;
	border: 3px solid white;
	text-align: center;
	width: 100%;
}

.container{
	padding: 0;
	min-width: 85vw;
}

animal-list{
	width: 100%;
}

new-animal, edit-animal {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;

}
