.new, .edit{

}


.card{
	min-height: 670px;
	padding-top: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	color: white;
	border: 3px solid white;
	text-align: center;
	background-color: #B29772;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	.card-tile, .card-body{
		width: 80%;
	}
	.list-group-item{
		background-color: inherit;
		button{
			background-color: #000;
		}
	}
	.form-group{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		input {
			text-align: center;
			background-color: black;
			color: white;
		}

	}
}
